
        <!--Start Footer One-->
        <footer id="footcontact" class="footer-one">
            <div class="footer-one__top">
                <div class="padbox container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="footer-one__top-wrapper">
                                <div class="footer-one__bg"><img src="/images/backgrounds/footer-one-bg.png"
                                        alt="" /></div>
                                <div class="row">
                                    <!--Start Footer Widget Column-->
                                    <div class="col-xl-3 col-lg-6 col-md-6 wow animated fadeInUp" data-wow-delay="0.1s">
                                        <div class="footer-widget__column footer-widget__about">
                                            <div class="footer-widget__about-logo">
                                                <a href="index.html"><img src="/images/resources/footer-logo.png"
                                                        alt=""></a>
                                            </div>
                                            <p class="footer-widget__about-text">Resusitation of Premium Dried Cocoa beans for International </p>
                                            
                                        </div>
                                    </div>
                                    <!--End Footer Widget Column-->

                                    <!--Start Footer Widget Column-->
                                   
                                    <!--End Footer Widget Column-->

                                    <!--Start Footer Widget Column-->
                                    <div class="col-xl-2 col-lg-6 col-md-6 wow animated fadeInUp" data-wow-delay="0.5s">
                                        <div class="footer-widget__column footer-widget__explore">
                                            <h2 class="footer-widget__title">Explore</h2>
                                            <ul class="footer-widget__explore-list">
                                                <li class="footer-widget__explore-list-item"><a href="projects.html">New
                                                        Projects</a></li>
                                                <li class="footer-widget__explore-list-item"><a href="#service_view">Our
                                                        Services</a></li>
                                                <li class="footer-widget__explore-list-item"><a href="about.html">About
                                                        Us</a></li>
                                                <li class="footer-widget__explore-list-item"><a href="#">Get in
                                                        Touch</a></li>
                                                <li class="footer-widget__explore-list-item"><a href="#">Investing & Investors</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--End Footer Widget Column-->

                                    <!--Start Footer Widget Column-->
                                    <div class="col-xl-4 col-lg-6 col-md-6 wow animated fadeInUp" data-wow-delay="0.7s">
                                        <div class="footer-widget__column footer-widget__newletter">
                                            <div class="footer-widget__about-contact-box">
                                                <p class="phone"><a href="tel:2348033701477"><i
                                                            class="fas fa-phone-square-alt"></i>+2348033701477</a></p>
                                                <p><a href="mailto:newdawnagricltd@gmail.com"><i
                                                            class="fa fa-envelope"></i>newdawnagricltd@gmail.com</a></p>
                                                <!-- <p class="text"><i class="fas fa-map-marker-alt"></i>666 road, broklyn
                                                    street new york</p> -->
                                            </div>
                                        </div>

                                        
                                    </div>
                                    
                                    <!--End Footer Widget Column-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!--Start Footer One Bottom-->
            <div class="footer-one__bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="footer-one__bottom-inner">
                                <div class="footer-one__bottom-text">
                                    <p>&copy; Copyright 2022 <a href="#">TobadeyWorldCocoa</a></p>
                                </div>
                                <div class="footer-one__bottom-social-links">
                                    <ul>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Footer One Bottom-->
        </footer>
        <!--End Footer One-->


    </div><!-- /.page-wrapper -->



    <div class="mobile-nav__wrapper">
        <div class="mobile-nav__overlay mobile-nav__toggler"></div>
        <!-- /.mobile-nav__overlay -->
        <div class="mobile-nav__content">
            <span class="mobile-nav__close mobile-nav__toggler"><i class="fa fa-times"></i></span>

            <div class="logo-box">
                <a href="index.html" aria-label="logo image"><img src="/images/resources/mobilemenu_logo.png"
                        width="155" alt="" /></a>
            </div>
            <!-- /.logo-box -->
            <div class="mobile-nav__container"></div>
            <!-- /.mobile-nav__container -->

            <ul class="mobile-nav__contact list-unstyled">
                <li>
                    <i class="icon-phone-call"></i>
                    <a href="mailto:newdawnagricltd@gmail.com">newdawnagricltd@gmail.com</a>
                </li>
                <li>
                    <i class="icon-letter"></i>
                    <a href="tel:+23408033701477">08033701477</a>
                </li>
            </ul><!-- /.mobile-nav__contact -->
            <div class="mobile-nav__top">
                <div class="mobile-nav__social">
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-facebook-square"></a>
                    <a href="#" class="fab fa-pinterest-p"></a>
                    <a href="#" class="fab fa-instagram"></a>
                </div><!-- /.mobile-nav__social -->
            </div><!-- /.mobile-nav__top -->
        </div>
        <!-- /.mobile-nav__content -->
    </div>
    <!-- /.mobile-nav__wrapper -->



    <div class="search-popup">
        <div class="search-popup__overlay search-toggler"></div>
        <!-- /.search-popup__overlay -->
        <div class="search-popup__content">
            <form action="#">
                <label for="search" class="sr-only">search here</label><!-- /.sr-only -->
                <input type="text" id="search" placeholder="Search Here..." />
                <button type="submit" aria-label="search submit" class="thm-btn2">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </form>
        </div>
        <!-- /.search-popup__content -->
    </div>
    <!-- /.search-popup -->



    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="icon-right-arrow-2"></i></a>


    <script src="/vendors/jquery/jquery-3.5.1.min.js"></script>
    <script src="/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendors/jarallax/jarallax.min.js"></script>
    <script src="/vendors/jquery-ajaxchimp/jquery.ajaxchimp.min.js"></script>
    <script src="/vendors/jquery-appear/jquery.appear.min.js"></script>
    <script src="/vendors/jquery-circle-progress/jquery.circle-progress.min.js"></script>
    <script src="/vendors/jquery-magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="/vendors/jquery-validate/jquery.validate.min.js"></script>
    <script src="/vendors/nouislider/nouislider.min.js"></script>
    <script src="/vendors/odometer/odometer.min.js"></script>
    <script src="/vendors/swiper/swiper.min.js"></script>
    <script src="/vendors/tiny-slider/tiny-slider.min.js"></script>
    <script src="/vendors/wnumb/wNumb.min.js"></script>
    <script src="/vendors/wow/wow.js"></script>
    <script src="/vendors/isotope/isotope.js"></script>
    <script src="/vendors/countdown/countdown.min.js"></script>
    <script src="/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="/vendors/twentytwenty/twentytwenty.js"></script>
    <script src="/vendors/twentytwenty/jquery.event.move.js"></script>
    <script src="/vendors/parallax/parallax.min.js"></script>
    <script src="/vendors/tilt.js/tilt.jquery.js"></script>


    <script src="http://maps.google.com/maps/api/js?key=AIzaSyATY4Rxc8jNvDpsK8ZetC7JyN4PFVYGCGM"></script>

    <!-- template js -->
    <script src="/js/agriox.js"></script>


</body>
