<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Two || Agriox || Responsive HTML5 Template.</title>
    <!-- favicons Icons -->
    <!-- <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png" /> -->
    <!-- <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png" />
    <link rel="manifest" href="/images/favicons/site.webmanifest" /> -->
    <meta name="description" content="Crsine HTML Template For Car Services" />

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Shadows+Into+Light&display=swap"
        rel="stylesheet">



    <link rel="stylesheet" href="/vendors/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/vendors/animate/animate.min.css" />
    <link rel="stylesheet" href="/vendors/animate/custom-animate.css" />
    <link rel="stylesheet" href="/vendors/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="/vendors/jarallax/jarallax.css" />
    <link rel="stylesheet" href="/vendors/jquery-magnific-popup/jquery.magnific-popup.css" />
    <link rel="stylesheet" href="/vendors/nouislider/nouislider.min.css" />
    <link rel="stylesheet" href="/vendors/nouislider/nouislider.pips.css" />
    <link rel="stylesheet" href="/vendors/odometer/odometer.min.css" />
    <link rel="stylesheet" href="/vendors/swiper/swiper.min.css" />
    <link rel="stylesheet" href="/vendors/icomoon-icons/style.css">
    <link rel="stylesheet" href="/vendors/tiny-slider/tiny-slider.min.css" />
    <link rel="stylesheet" href="/vendors/reey-font/stylesheet.css" />
    <link rel="stylesheet" href="/vendors/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="/vendors/owl-carousel/owl.theme.default.min.css" />
    <link rel="stylesheet" href="/vendors/twentytwenty/twentytwenty.css" />

    <!-- template styles -->
    <link rel="stylesheet" href="/css/agriox.css" />
</head>

<body>

    <div class="preloader">
        <img class="preloader__image" width="60" src="/images/loader.png" alt="" />
    </div>

    <!-- /.preloader -->
    <div class="page-wrapper">

        <header class="main-header main-header--one main-header--one--two  clearfix">
            <div class="main-header--one__wrapper">
                <div class="main-header--one__bottom clearfix">
                    <div class="auto-container">
                        <div class="main-header--one__bottom-inner">
                            <div class="main-header--one__bottom-middel">
                                <div class="logo">
                                    <a href="index.html"><img src="/images/resources/logo-2.png" alt="" /></a>
                                </div>
                            </div>

                            <nav class="main-menu main-menu--1">
                                <div class="main-menu__inner">
                                    <a href="#" class="mobile-nav__toggler"><i class="fa fa-bars"></i></a>

                                    <div class="stricky-one-logo">
                                        <div class="logo">
                                            <a href="index.html"><img src="/images/resources/logo-1.png"
                                                    alt=""></a>
                                        </div>
                                    </div>

                                    <div class="main-header--one__bottom-left">
                                        <ul class="main-menu__list">
                                            <li class="dropdown current">
                                                <a href="index.html">Home</a>
                                                <ul>
                                                    <li><a href="index.html">Home One</a></li>
                                                    <li><a href="index-2.html">Home Two</a></li>
                                                    <li><a href="index-3.html">Home Three</a></li>
                                                    <li class="dropdown">
                                                        <a href="#">Header Styles</a>
                                                        <ul>
                                                            <li><a href="index.html">Header One</a></li>
                                                            <li><a href="index-2.html">Header Two</a></li>
                                                            <li><a href="index-3.html">Header Three</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><a href="about.html">About</a></li>
                                            <li class="dropdown">
                                                <a href="#">Services</a>
                                                <ul>
                                                    <li><a href="services.html">All Services</a></li>
                                                    <li><a href="agriculture-products.html">Agriculture Products</a>
                                                    </li>
                                                    <li><a href="fresh-vegetable.html">Fresh Vegetable</a></li>
                                                    <li><a href="organic-products.html">Organic Products</a></li>
                                                    <li><a href="dairy-products.html">Dairy Products</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown">
                                                <a href="#">Page</a>
                                                <ul>
                                                    <li><a href="farmers.html">Farmers</a></li>
                                                    <li><a href="projects.html">Projects</a></li>
                                                    <li><a href="projects-details.html">Projects Details</a></li>
                                                    <li><a href="faq.html">Faq</a></li>
                                                    <li><a href="error.html">Error</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown">
                                                <a href="shop.html">Shop</a>
                                                <ul>
                                                    <li><a href="shop.html">Products</a></li>
                                                    <li><a href="product-details.html">Product Details</a></li>
                                                    <li><a href="cart.html">Cart</a></li>
                                                    <li><a href="checkout.html">Checkout</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown">
                                                <a href="#">Blog</a>
                                                <ul>
                                                    <li><a href="news.html">News</a></li>
                                                    <li><a href="news-v2.html">News Two</a></li>
                                                    <li><a href="news-details.html">News Details</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="contact.html">Contact</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>

                            <div class="main-header--one__bottom-right clearfix">
                                <div class="search-cart">
                                    <a href="#" class="search search-toggler"><span
                                            class="icon-magnifying-glass"></span></a>
                                    <a href="#" class="cart mini-cart__toggler"><span
                                            class="icon-shopping-cart"></span></a>
                                </div>
                                <div class="contact-box">
                                    <div class="icon">
                                        <span class="icon-phone-call-2"></span>
                                    </div>
                                    <div class="text">
                                        <p>Call Anytime</p>
                                        <a href="tel:123456789">666 888 0000</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </header>


        <div class="stricky-header stricked-menu main-menu">
            <div class="sticky-header__content">

            </div><!-- /.sticky-header__content -->
        </div><!-- /.stricky-header -->
