<%- include('partials/header') %>
<section class="padbox about-two">
    <h3 style="text-decoration:underline"><strong>ABOUT US.</strong></h3>
    <div class="about-two__bg"><img src="/images/resources/.jpg" alt="" /></div>
    <div class="container">
        <div class="row">
            <!--Start About Two Img Box-->
            <div class="col-xl-6 col-lg-6">
                <div class="about-two__img-box clearfix">
                    <div class="about-two__img-box__shape"></div><!-- /.about-two__img-box__shape -->
                    <div class="about-two__img-box-img1">
                        <div class="about-two__img-box-img1-inner">
                            <p style="text-align:center">At tobadey world cocoa, <strong>premium</strong> quality Cocoa Production is our priority</p>
                            <img src="/images/resources/plantation2.jpg" alt="" />
                        </div>
                    </div>
                    <div class="about-two__img-box-img2">
                        <div class="about-two__img-box-img2__shape"></div>
                        <!-- /.about-two__img-box-img2__shape -->
                        <div class="logo"><img src="/images/resources/.jpg" alt="" /></div>
                        <div class="about-two__img-box-img2-inner">
                            <img src="/images/about/.jpg" alt="" />
                        </div>
                    </div>
                </div>
            </div>
            <!--End About Two Img Box-->

            <!--Start About Two Content Box-->
            <div class="col-xl-6 col-lg-6">
                <div class="about-two__content-box">
                    <div class="sec-title">
                        <h2 class="sec-title__title">We’re Outstanding in Cocoa production<br>Market</h2>

                        <div class="icon">
                            <img src="/images/resources/tractorGreen.jpg" alt="">
                        </div>
                        <span class="sec-title__tagline">get to know about us</span>
                    </div>
                    <!-- <p class="about-two__content-box-text">some text here </p>
                    <div class="about-two__content-box-list">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="about-two__content-box-list-single">
                                    <ul>
                                        <li>
                                            <div class="icon">
                                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                                            </div>
                                            <div class="text">
                                                <p>Some random text here</p>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="icon">
                                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                                            </div>
                                            <div class="text">
                                                <p>Some random text here</p>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="icon">
                                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                                            </div>
                                            <div class="text">
                                                <p>Some random text here</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="about-two__content-box-list-single">
                                    <ul>
                                        <li>
                                            <div class="icon">
                                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                                            </div>
                                            <div class="text">
                                                <p>If you are going to use</p>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="icon">
                                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                                            </div>
                                            <div class="text">
                                                <p>Making this the first true</p>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="icon">
                                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                                            </div>
                                            <div class="text">
                                                <p>Over 21 years experience</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <div class="about-two__progress">
                        <!--Start Digital Factory One Progress Single-->
                        <div class="about-two__progress-single">
                            <h4 class="about-two__progress-title">Processing techniques</h4>
                            <div class="bar">
                                <div class="bar-inner count-bar" data-percent="78%">
                                    <div class="count-text">78%</div>
                                </div>
                            </div>
                        </div>
                        <!--End Digital Factory One Progress Single-->

                        <!--Start Digital Factory One Progress Single-->
                        <div class="about-two__progress-single">
                            <h4 class="about-two__progress-title">Quality</h4>
                            <div class="bar">
                                <div class="bar-inner count-bar" data-percent="88%">
                                    <div class="count-text">88%</div>
                                </div>
                            </div>
                        </div>
                        <!--End Digital Factory One Progress Single-->
                    </div>

                    <div class="about-two__author">
                        <h2>Dr. Samuel Jibayo Oyebade</br><span style="text-decoration: solid;">Founder of Tobadey-World-Cocoa</span></h2>
                    </div>
                </div>
            </div>
            <!--End About Two Content Box-->
        </div>
    </div>
</section>

        <!--Services One Start-->
        <section class="padbox services-one services-one--has-top-bg">
            <div class="container">
                <div class="sec-title text-center">
                    <div class="icon">
                        <img src="/images/resources/sec-title-icon1.png" alt="">
                    </div>
                    <span class="sec-title__tagline">What we’re doing</span>
                    <h2 class="sec-title__title">Our Products</h2>
                </div>
                <div class="shiftServiceLeft     row">
                    <!--Start Single Services One-->
                    <div class="col-xl-3 col-lg-6 col-md-6  wow fadeInLeft" data-wow-delay="0ms"
                        data-wow-duration="1000ms">
                        <div class="services-one__single">
                            <div class="services-one__single-img">
                                <div class="services-one__single-img-inner">
                                    <img src="/images/services/beans.jpg" alt="" />
                                </div>
                                <div class="services-one__single-img-icon">
                                    <span class="icon-agriculture"></span>
                                </div>
                            </div>
                            <div class="services-one__single-content text-center">
                                <h3><a href="services-details.html">Premium<br>Cocoa-Beans</a></h3>
                                <p>Premium quality dried cocoa beans for production or exports</p>
                                <a href="services-details.html" class="read-more-btn"><span
                                        class="icon-right-arrow-2"></span></a>
                            </div>
                        </div>
                    </div>
                    <!--End Single Services One-->

                    <!--Start Single Services One-->
                    <div class="col-xl-3 col-lg-6 col-md-6  wow fadeInLeft" data-wow-delay="100ms"
                        data-wow-duration="1000ms">
                        <div class="services-one__single">
                            <div class="services-one__single-img">
                                <div class="services-one__single-img-inner">
                                    <img src="/images/services/seedling.jpg" alt="" />
                                </div>
                                <div class="services-one__single-img-icon">
                                    <span class="icon-harvest"></span>
                                </div>
                            </div>
                            <div class="services-one__single-content text-center">
                                <h3><a href="services-details.html">Hybrid<br>Cocoa seedlings</a></h3>
                                <p>Hybrid cocoa seedling for production and sales</p>
                                <a href="services-details.html" class="read-more-btn"><span
                                        class="icon-right-arrow-2"></span></a>
                            </div>
                        </div>
                    </div>
                    <!--End Single Services One-->

                    <!--Start Single Services One-->
                    <div class="col-xl-3 col-lg-6 col-md-6  wow fadeInRight" data-wow-delay="0ms"
                        data-wow-duration="1000ms">
                        <div class="services-one__single">
                            <div class="services-one__single-img">
                                <div class="services-one__single-img-inner">
                                    <img src="/images/services/pods.jpg" alt="" />
                                </div>
                                <div class="services-one__single-img-icon">
                                    <span class="icon-growth"></span>
                                </div>
                            </div>
                            
                            <div class="services-one__single-content text-center">
                                <h3><a href="services-details.html">Dried<br>Cocoa Pods</a></h3>
                                <p>SPECIALLY PROCESSED DRY COCOA PODS PRODUCTION FOR LOCAL & EXPORT MARKETS</p>
                                <a href="services-details.html" class="read-more-btn"><span
                                        class="icon-right-arrow-2"></span></a>
                            </div>
                        </div>
                    </div>
                    <!--End Single Services One-->

                    <!--Start Single Services One-->
                    
                    <!--End Single Services One-->
                </div>
            </div>
        </section>
        <!--Services One End-->

        <section class="padbox cta-two">
            <div class="cta-two__shape"></div><!-- /.cta-two__shape -->
            <div class="container">
                <div class="cta-two__inner">
                    <strong><h3 style="text-decoration: dotted; text-decoration: underline; color: chocolate;">OUR MISSION</h3></strong>
                    <div class="row">
                       
                        <div class="col-lg-6 d-flex align-items-center">

                            <img class="missionImage" src="/images/loader.png" alt="">
                           
                            <h4 style="text-align: center;" class="cta-two__title">Resusitation of Premium Dried Cocoa beans for International exports 

                            </h4><!-- /.cta-two__title -->
                        </div><!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                            <div class="cta-two__right">
                            </div><!-- /.cta-two__right -->
                        </div><!-- /.col-lg-6 -->
                    </div><!-- /.row -->
                </div><!-- /.cta-two__inner -->
            </div><!-- /.container -->
        </section><!-- /.cta-two -->
<%- include('partials/footer') %>

</html>