<!DOCTYPE html>
<%- include('partials/header') %>
<section class="page-header clearfix"
style="background-image: url(assets/images/gallery.jpg);">
<div class="container">
    <div class="page-header__inner text-center clearfix">
        <ul class="thm-breadcrumb">
           
            
        </ul>
        <h2>TobadeyWorldCocoa Gallery</h2> 
    </div>
</div>
</section>
        <!--News Sidebar Start-->
        <section class="news-sidebar">
            <div class="container padbox">
                <div class="row">
                    <!--Start News Sidebar Laft-->
                    <div class="col-xl-8 col-lg-7">
                        <div class="news-sidebar__left">
                            <!--Start Single Blog One-->
                            <div class="blog-one__single">
                                <div class="">
                                    <video width="635" height="390" controls>
                                        <source src="/images/ddv.mp4" type="video/mp4">
                                      </video>
                                   
                                </div>

                                <div class="blog-one__single-content">
                                    <ul class="meta-info">
                                        <li><a href="#"><i class="fa fa-clock"></i>30 July, 2021</a></li>
                                        
                                    </ul>
                                    <h2><a href="news-details.html">Cocoa pod waste</a></h2>
                                    <p>Development of value chain of cocoa pod waste at different stages. This is fast drying of fresh empty pods for  animals feed grade usage.
                                    </p>
                                    <a href="news-details.html" class="read-more">Read More</a>
                                </div>
                            </div>
                            <!--End Single Blog One-->

                  
                            <!--End Single Blog One-->

                            <!--Start Single Blog One-->
                            <div class="blog-one__single">
                                <div class="">
                                    <video width="635" height="390" controls>
                                        <source src="/images/process.mp4" type="video/mp4">
                                      </video>
                                   
                                </div>

                                <div class="blog-one__single-content">
                                    <ul class="meta-info">
                                        <li><a href="#"><i class="fa fa-clock"></i>30 July, 2021</a></li>
                                        
                                    </ul>
                                    <h2><a href="news-details.html">Cocoa processing Center</a></h2>
                                    <p>
                                    </p>
                                    <a href="news-details.html" class="read-more">Read More</a>
                                </div>
                            </div>

                            <div class="blog-one__single">
                                <div class="blog-one__single-img">
                                    <img src="assets/images/blog/blog-v2-img3.jpg" alt="" />
                                    <div class="overlay-icon">
                                        <a href="news-details.html"><span class="icon-plus"></span></a>
                                    </div>
                                </div>

                                <div class="blog-one__single-content">
                                    <ul class="meta-info">
                                        <li><a href="#"><i class="fa fa-clock"></i>30 July, 2021</a></li>
                             
                                    </ul>
                                    <h2><a href="news-details.html">Bring to the table win-win survival strategies to
                                            ensure</a></h2>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority
                                        have suffered alteration in some form, by injected humour, or randomised words
                                        which don't look even slightly believable. If you are going to use a passage.
                                    </p>
                                    <a href="news-details.html" class="read-more">Read More</a>
                                </div>
                            </div>
                            <!--End Single Blog One-->

                            <div class="news-sidebar__blockquote">
                                <blockquote>
                                    <div class="icon">
                                        <img src="assets/images/icon/icon-quotation-mark.png" alt="" />
                                    </div>
                                    <p>we have developed several strategy for high quality cocoa production and we are currently working on sketching new advanced cocoa farming and production strategy.</p>
                                </blockquote>
                            </div>

                            <div class="news-sidebar__agriculture-matters">
                                <div class="icon">
                                    <img src="assets/images/icon/icon-link.png" alt="" />
                                </div>
                                <h2><a href="news-details.html">Agriculture Matters to the Future of Development</a>
                                </h2>
                            </div>
                            <div class="news-sidebar__btn">
                                <a href="/" class="thm-btn">home</a>
                            </div>
                        </div>
                    </div>
                    <!--End News Sidebar Laft-->

                   
                    <!--End News Sidebar Sidebar-->
                </div>
            </div>
        </section>
        <!--News Sidebar End-->

        <%- include('partials/footer') %>

</html>